*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/raspberrypi/.venv/
/raspberrypi/camera
/raspberrypi/capture.jpg
/raspberrypi/face_analyzer_state.json
/raspberrypi/last_ip.txt
